<div class="d-flex justify-content-end">
  <img class="imgIcone close c-pointer" src="assets/images/times-circle-solid.svg" alt="close" data-toggle="tooltip"
    data-placement="top" title="Fermer" (click)="refresh()">
</div>
<div class="d-flex justify-content-center bg-yellow p-3">
    <div>
        <h5>Modification de votre mot de passe</h5>
        <p class="text-center">Remplissez les champs du formulaire<br> Le mot de passe doit conteniur 6 caractères minimum</p>
      </div>
      </div>
  <div class="d-flex justify-content-center">
    <img id="homePicture" class="pr" src="assets/images/doloR.jpg" alt="">
  </div>
  <div class="d-flex flex-wrap justify-content-center bg-light p-3 pa div-form align-items-center br-8">
    <form [formGroup]="formPassword" class="flex-column">
        <div class="d-flex flex-column">
      <input type="email" placeholder="adresse mail" formControlName="mail" [(ngModel)]="mail" required>
      <input type="text" placeholder="ancien mot de passe" formControlName="password" [(ngModel)]="password" required
        minlength="6">
      <input type="text" placeholder="nouveau mot de passe" formControlName="newPassword" [(ngModel)]="newPassword"
        required minlength="6">
      <!-- <input type="text" placeholder="confirmation mot de passe" formControlName="passwordConfirm"
        [(ngModel)]="passwordConfirm" required minlength="6"> -->
      <button class="button_blue txt_light mt-2" (click)="submit()">Valider</button>
    </div>
    </form>
  <!-- </div> -->
</div>
