<div>
    <h3 class="text-center">Mentions légales</h3>
<h4 class="text-center">Condition générale d'utilisation</h4><br>
<div>
    <p class="text-center">Le présent site est réalisé par Aurélie Besnard dans le cadre d'un examen</p>
    <p class="text-center">La développeuse est joignable à l'adresse : haureln@protonmail.com</p>
</div>
<div>
    <p class="fw-bold">Saisie des données personnelles et protection des données</p>
    <p>La gestion et l’analyse des informations pour notre communauté grandissante sont essentielles à notre Service. Une grande partie de notre Service consiste à créer et à utiliser des technologies de pointe capables de personnaliser, de protéger et d’améliorer notre Service à une très grande échelle pour une communauté mondiale étendue. Des technologies telles que l’intelligence artificielle et l’apprentissage automatique nous offrent la capacité d’appliquer des processus complexes à notre Service. La saisie des données constitue un profil de runner dont notre algorithme permettra d’améliorer le conseil au fil des utilisations.</p>
</div>
<div>
    <p class="fw-bold">La Politique d’utilisation des données</p>
    <p>a fourniture de notre Service nécessite la collecte et l’utilisation de vos informations. Notre Politique d’utilisation des données respecte le RGPD (Règlement Général pour la Protection des Données du 23 Mai 2018). En contactant haureln@protonmail.com nous pourrons échanger sur notre protocole de sécurisation des données et vous donner plus d’informations sur les activités</p>
</div>
<div>
    <p class="fw-bold"> Mise à jour des présentes Conditions</p>
<p>Nous pouvons modifier notre Service et nos règlements, et il est possible que nous devions apporter des modifications aux présentes Conditions afin de les adapter fidèlement à notre Service et à nos règlements. Sauf disposition légale contraire, nous vous informerons (par l’intermédiaire de notre Service, par exemple) au moins 30 jours avant de modifier les présentes Conditions et vous donnerons l'opportunité de les examiner avant leur entrée en vigueur. Vous serez ensuite lié aux Conditions mises à jour si vous poursuivez votre utilisation du Service. Si vous ne souhaitez pas accepter les présentes Conditions ou leur mise à jour, vous pouvez supprimer votre compte ici.</p> 
</div>
</div>