<h2 class="fw-bold text_dark_blue text-center my-5"><img src="assets/images/sign-out-alt-solid.svg" alt="" class="imgIcone"> Deconnexion</h2>
<div class="d-flex flex-wrap">
  <div class="d-flex flex-column col-6 txt_light align-items-center">
    <div class="d-flex col-6 text_dark_blue">

     <div class="text_dark_blue">
        <p>Vous êtes sur le point de vous déconnecter, souhaitez vous nous quitter?</p> 
         <button (click)="logout()" class="button_pink me-2">Oui</button>
         <button (click)="back()" class="button_success">Non</button>
     </div>
    </div>
  </div>    
</div>